.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 5px;

    table {
        width: 100%;
        border-collapse: collapse;

        th,
        td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

        th {
            text-align: left;
        }

        td {
            text-align: left;
        }

        tr:nth-child(even) {
            background-color: #333;
        }

        tr:hover {
            background-color: gray;
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        gap: 2em;
        margin-top: 20px;
    }
}
